# Projeto Python IA: Inteligência Artificial e Previsões

### Case: Score de Crédito dos Clientes

O objetivo é definir o score de crédito dos clientes, analisando todos os clientes do banco e, com base nessa análise, criar um modelo que consiga ler as informações do cliente e dizer automaticamente o score de crédito dele: Ruim, Ok, Bom

In [ ]:
#vamos usar as bibliotecas:
#pandas -> trabalhar com dados
#scikit-learn -> trabalhar com IA
%pip install pandas scikit-learn

In [1]:
import pandas as pd 

#passo 1 -> importar a base de dados
tabela = pd.read_csv("clientes.csv")
display(tabela)

#analisando os dados buscando entender o tipo de cada coluna, se temos valores vazios, etc:
tabela = tabela.dropna()
display(tabela.info())

,id_cliente,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,...,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,score_credito,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,3392,1,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,265.0,21.465380,alto_gasto_pagamento_baixos,312.494089,Good,1,1,1,1,0
1,3392,2,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,266.0,21.465380,baixo_gasto_pagamento_alto,284.629162,Good,1,1,1,1,0
2,3392,3,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,267.0,21.465380,baixo_gasto_pagamento_medio,331.209863,Good,1,1,1,1,0
3,3392,4,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,5.0,...,268.0,21.465380,baixo_gasto_pagamento_baixo,223.451310,Good,1,1,1,1,0
4,3392,5,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,6.0,...,269.0,21.465380,alto_gasto_pagamento_medio,341.489231,Good,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,37932,4,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,23.0,...,378.0,24.028477,alto_gasto_pagamento_alto,479.866228,Poor,1,0,0,0,1
99996,37932,5,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,...,379.0,24.028477,alto_gasto_pagamento_medio,496.651610,Poor,1,0,0,0,1
99997,37932,6,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,27.0,...,380.0,24.028477,alto_gasto_pagamento_alto,516.809083,Poor,1,0,0,0,1
99998,37932,7,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,20.0,...,381.0,24.028477,baixo_gasto_pagamento_alto,319.164979,Standard,1,0,0,0,1
99999,37932,8,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,...,382.0,24.028477,alto_gasto_pagamento_medio,393.673696,Poor,1,0,0,0,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  object
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  object
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  object
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(7), object(4)
memory usage: 19.1+ MB

None

In [ ]:
#passo 2 -> preparar a base de dados para IA
#etapa LabelEncoder
#precisamos transformar os dados que serão estudados em formato numérico
from sklearn.preprocessing import LabelEncoder

codificador = LabelEncoder()

#processo de LabelEncoder nas colunas com informações do tipo texto, transformando em numérico
tabela["profissao"] = codificador.fit_transform(tabela["profissao"])

tabela["mix_credito"] = codificador.fit_transform(tabela["mix_credito"])

tabela["comportamento_pagamento"] = codificador.fit_transform(tabela["comportamento_pagamento"])

display(tabela)
display(tabela.info())

In [ ]:
#etapa de divisões -> vamos dividir nossa base duas vezes
#Y = quem queremos prever
#X = quem queremos usar para fazer a previsão (retirar as colunas inúteis para previsão, como ID's)
y = tabela["score_credito"]
x = tabela.drop(columns=["score_credito", "id_cliente"])

#divisão treino e teste -> separar nossa base em dados de treino e dados de teste, com os dados de treino a IA irá aprender e depois treinará com dados de teste
from sklearn.model_selection import train_test_split

#precisa seguir a ordem:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y)

In [ ]:
#passo 3 - criar um modelo de IA
#vamos usar 2 modelos -> árvore de decisão e KNN(K-Nearest Neighbors)
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

#criando a IA
modelo_arvoredecisao = RandomForestClassifier()
modelo_knn = KNeighborsClassifier()

#treinando a IA
modelo_arvoredecisao.fit(x_treino, y_treino)
modelo_knn.fit(x_treino, y_treino)

In [ ]:
#passo 4 - escolher qual o melhor para fazer nossas previsões
#testando os modelos 
previsao_arvoredecisao = modelo_arvoredecisao.predict(x_teste)
previsao_knn = modelo_knn.predict(x_teste)

#calculando a precisão dessa previsão (Acurácia - quanto ele acertou e quanto ele errou, comparando o resultado dos testes com a previsão da IA)
from sklearn.metrics import accuracy_score

print(accuracy_score(y_teste, previsao_arvoredecisao))
print(accuracy_score(y_teste, previsao_knn))

In [ ]:
#passo 5 - usar a IA com novos dados
tabela_nova = pd.read_csv("novos_clientes.csv")

#vamos repetir o processo de LabelEncoder
tabela_nova["profissao"] = codificador.fit_transform(tabela_nova["profissao"])

tabela_nova["mix_credito"] = codificador.fit_transform(tabela_nova["mix_credito"])

tabela_nova["comportamento_pagamento"] = codificador.fit_transform(tabela_nova["comportamento_pagamento"])

#conseguimos agora realizar previsão do score de novos clientes 
#o modelo "arvore decisão" teve um resultado melhor, por isso iremos utilizá-lo
previsoes = modelo_arvoredecisao.predict(tabela_nova)
display(previsoes)